#instafeed {
	margin-top: 20px;
}

#instafeed a {
	/*padding:5px;*/
	margin:10px;
	/*border:1px solid #e1e1e1;*/
	display:inline-block;
	/*border-radius: 4px;*/
	position:relative;
	width: 22.5%;
	height: auto;
}

#instafeed .likes {
	background:rgba(0,0,0,0.3);
	font-family:sans-serif;
	font-size:1em;
	position:absolute;
	color:#ffffff;
	right:0;
	bottom:0;
	left:0;
	opacity:0;
	text-align:center;
	text-shadow:0 1px rgba(0,0,0,0.5);
	-webkit-font-smoothing:antialiased;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
	opacity:1;
}